body {
    margin: 0;
    font-family: helvetica;
}

.home {
    width: 100%;
    height: 100%;
    background: rgb(199, 239, 255);
}

.headline {
    font-size: 5rem;
    color: pink;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    padding-top: 2rem;
}

.nav-links {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
}

a {
    font-size: 2rem;
    color: black;
}