body {
    margin: 0;
}

.home {
    width: 100%;
    height: 100%;
    background: rgb(199, 239, 255);
}

.headline {
    font-size: 5rem;
    font-family: helvetica;
    color: pink;
}

ul {
    list-style: none;
}

.nav-links {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}